pkgbase = ayugram-git
	pkgdesc = Unofficial version of Telegram Desktop with good customization, Ghost mode and message history.
	pkgver = 4.15
	pkgrel = 1
	url = https://github.com/AyuGram/AyuGramDesktop
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python
	makedepends = boost
	makedepends = fmt
	makedepends = range-v3
	makedepends = tl-expected
	makedepends = microsoft-gsl
	makedepends = meson
	makedepends = extra-cmake-modules
	makedepends = wayland-protocols
	makedepends = plasma-wayland-protocols
	makedepends = libtg_owt
	makedepends = gobject-introspection
	makedepends = mm-common
	makedepends = libxcomposite
	depends = hunspell
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = lz4
	depends = minizip
	depends = openal
	depends = rnnoise
	depends = ttf-opensans
	depends = glibmm-2.68
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = xxhash
	depends = pipewire
	depends = libxtst
	depends = libxrandr
	depends = jemalloc
	depends = abseil-cpp
	depends = libdispatch
	depends = openssl
	depends = protobuf
	optdepends = webkit2gtk: embedded browser features
	optdepends = xdg-desktop-portal: desktop integration
	provides = ayugram-desktop
	conflicts = ayugram-desktop
	source = tdesktop::git+https://github.com/AyuGram/AyuGramDesktop#commit=bf5337259d7528d0a40a6241eab8134097cf78c7?depth=1
	sha256sums = SKIP

pkgname = ayugram-git
